<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.agora.scene.singlehostlive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@drawable/single_icon_launcher"
        android:label="@string/single_app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/single_AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".RoomListActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserProfileActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".PreviewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".HostDetailActivity"
            android:launchMode="singleTop" />


    </application>
</manifest>