<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.agora.sample.singlehostlive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission-group android:name="io.agora.scene.andpermission"/>

    <application>

        <activity
            android:theme="@style/single_host_live_AppTheme"
            android:name="io.agora.sample.singlehostlive.RoomListActivity"
            android:launchMode="singleTop"/>

        <activity
            android:theme="@style/single_host_live_AppTheme"
            android:name="io.agora.sample.singlehostlive.PreviewActivity"
            android:launchMode="singleTop"/>

        <activity
            android:theme="@style/single_host_live_AppTheme"
            android:name="io.agora.sample.singlehostlive.HostDetailActivity"
            android:launchMode="singleTop"/>

        <activity
            android:theme="@style/single_host_live_AppTheme"
            android:name="io.agora.sample.singlehostlive.AudienceDetailActivity"
            android:launchMode="singleTop"/>


    </application>
</manifest>