<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.scene.livepk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/pk_Theme.AgoraSceneAndroid" />
        <activity
            android:name=".activity.LivePKListActivity"
            android:theme="@style/pk_Theme.AgoraSceneAndroid" />
        <activity
            android:name=".activity.HostPKActivity"
            android:theme="@style/pk_Theme.AgoraSceneAndroid" />
        <activity
            android:name=".activity.AudienceActivity"
            android:theme="@style/pk_Theme.AgoraSceneAndroid" />

    </application>

</manifest>