<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.scene.club">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission-group android:name="io.agora.scene.andpermission"/>

    <application>

        <activity
            android:theme="@style/club_AppTheme"
            android:name="io.agora.scene.club.RoomListActivity"
            android:process="io.agora.scene.club"
            android:screenOrientation="behind"
            android:launchMode="singleTop"/>

        <activity
            android:theme="@style/club_AppTheme"
            android:name="io.agora.scene.club.RoomDetailActivity"
            android:process="io.agora.scene.club"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenLayout|screenSize"
            android:launchMode="singleTop"/>

        <activity
            android:theme="@style/club_AppTheme"
            android:process="io.agora.scene.club"
            android:name="io.agora.scene.club.MainActivity"
            android:screenOrientation="behind"
            android:launchMode="singleTop"/>


    </application>
</manifest>