<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.scene.breakoutroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <activity
            android:name=".RoomListActivity"
            android:screenOrientation="behind"
            android:process="io.agora.scene.breakoutroom"
            android:theme="@style/breakout_room_BaseTheme" />

        <activity
            android:name=".LiveDetailActivity"
            android:screenOrientation="behind"
            android:process="io.agora.scene.breakoutroom"
            android:theme="@style/breakout_room_BaseTheme" />

    </application>
</manifest>